
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
@media (max-width: 1200px) {


    .header .logo__link {
        margin-right: 30px;
    }
    .menu {
        gap: 25px;
    }

    .banner_img {
        width: 440px;
    }























































}

@media (max-width: 1100px) {


























}
