@media (max-width: 576px) {


    .services_item {
        width: 100%;
    }
    .services_item__info {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
    .services_item__img {
        margin: auto;
    }


    .form_wrap {

        .btn {
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }
    }






























}
