body {
    font-family: "Ubuntu";
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #161D24;
    background: #fff;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

    &.no_scroll {
        overflow-y: hidden;
    }
}
.body {
    overflow-x: hidden;
}
*,
::after,
::before {
    box-sizing: border-box
}
:focus {
    outline: none;
}
html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
.small {
    font-size: 70%
}
sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}
sub {
    bottom: -.25em
}
sup {
    top: -.5em
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu";
    margin-top: 0;
    color: inherit;
    display: inline-block;
}
.h1, h1 {
    font-size: 35px;
    line-height: 50px;
    font-weight: 400;
    margin-bottom: 20px;
    display: block;
}
.h2, h2 {
    font-size: 28px;
    line-height: 38px;
    font-weight: 400;
    margin-bottom: 40px;
}
.h3, h3 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 10px;
    display: block;
}
.h4, h4 {
    font-size: 24px;
    line-height: 19px;
    font-weight: 500;
    margin-bottom: 34px;
    display: block;
}
.h5, h5 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    display: block;
}
.h6, h6 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    display: block;
}

svg {
    line-height: 0;
}
path {
    transition: all .2s;
}

a {
    color: #161D24;
    text-decoration: none;
}
a, .btn {
    transition: all .2s;
}
a:hover,
a:focus {
    outline: none;
    transition: all .2s;
    text-decoration: underline;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
dl, ol, ul {
    margin-top: 0;
    padding: 0;
}
li {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    display: block;
    list-style-type: none;
    margin-bottom: 20px;
    position: relative;
    padding-left: 16px;

    &:last-child {
        margin-bottom: 0;
    }
    &:before {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #2B2B2B;
        display: block;
        position: absolute;
        top: 10px;
        left: 0;
    }
}
img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    display: block;
}
.icon {
    line-height: 0;
}
button {
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}
button:hover {
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}
button:focus, input:focus, textarea:focus {
    outline: none;
}
input, textarea {
    font-family: "Ubuntu";
    -webkit-appearance: none !important;
}
textarea {
    resize: vertical;
    min-height: 202px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.container {
    width: 100%;
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}
.container_full {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.p_relative {
    position: relative;
}


.d-block {
    display: block !important;
}
.m-auto {
    margin: auto !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mb-50 {
    margin-bottom: 50px !important;
}
.mb-80 {
    margin-bottom: 80px;
}


.justify_align {
    justify-content: space-between;
    align-items: center;
}

.text_center {
    text-align: center;
}


.br-5 {
    border-radius: 6px;
}
.br-10 {
    border-radius: 12px;
}




.fz-20 {
    font-size: 20px;
    line-height: 25px;
}



.modal {
    align-items: flex-start;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all .3s;
    visibility: hidden;
    z-index: 9999
}

.modal.show {
    opacity: 1;
    transition: all .3s;
    visibility: visible
}

.modal_overlay {
    background-color: rgba(0,0,0,.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 400
}

.modal__container {
    border: 1px solid #f1f3f5;
    border-radius: 20px 20px 0 0;
    max-height: 100%;
    padding: 20px 15px;
    width: 100%
}

.modal__container,.modal_content {
    background: #EFF3DE;
    z-index: 600
}


.modal_content {
    border-radius: 10px;
    max-width: 570px;
    padding: 30px 45px;
    width: calc(100% - 30px);
    margin-top: 70px;
}

.modal_body {
    max-height: calc(100vh - 150px);
    overflow-y: auto
}
.modal_title {
    font-weight: 300;
}
.close_modal_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    line-height: 0;
    cursor: pointer;
}

.modal__close {
    background-image: url("../../images/icons/close-black.svg");
    cursor: pointer;
    height: 24px;
    position: absolute;
    right: 15px;
    top: 20px;
    width: 24px;
    z-index: 99
}



.accordion_wrap {
    max-width: 752px;
}
.accordion_item {
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }

    &.active {
        .panel {
            transition: all 0.2s;
        }

        .accordion_title {
            padding-bottom: 20px;

            &:after {
                transform: rotate(-180deg);
                transition: all .2s;
            }
        }
    }
}
.accordion_title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    display: flex;
    cursor: pointer;
    position: relative;
    padding: 25px 41px 0 0;
    border-top: 1px solid #161D24B2;

    &:after {
        content: url("../../images/icons/chevron-down.svg");
        width: 16px;
        line-height: 0;
        display: block;
        position: absolute;
        top: 31px;
        right: 13.5px;
        transform: rotate(0);
        transition: all .2s;
    }
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s;

    p {
        font-size: 18px;
        line-height: 22px;
        font-weight: 300;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}



.form_group {
    margin-bottom: 20px;
}

.form_group__list {
    gap: 15px;
}
.form_group__list-50 {
    .form_group {
        width: calc(50% - 7.5px);
    }
}

.form_control {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;

    &.error {
        border-color: #EB5757;
    }
}



.form_bottom {
    align-items: center;
    justify-content: space-between;
}
.checkbox_data {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox, .radio_box {
    display: none;
}
.checkbox_info {
    font-size: 12px;
    line-height: 20px;
    color: #7F7F7F;
    flex: 1 0;

    a {
        color: #7F7F7F;
    }
}
.check_checkbox {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    position: relative;
    border: 1px solid #19191980;
    cursor: pointer;

    &.error {
        border-color: #EB5757;
    }
}

.checkbox:checked+.check_checkbox {

    &:before {
        content: url("../../images/icons/ok.svg");
        position: absolute;
        top: 1px;
        left: 1.5px;
        width: auto;
        font-size: 0;
    }
}


