@import "style/fonts";
@import "style/base-elements";



.header {
    position: fixed;
    top: 0;
    z-index: 55;
    width: 100%;
    box-shadow: 0 4px 15px 0 #2424241A;
    background: #fff;
    padding: 11px 0;

    .logo__link {
        margin-right: 100px;
    }
    .logo {
        width: 76px;
    }
}
.header_left,
.header_right {
    align-items: center;
}

.menu {
    gap: 45px;
}
.menu_item {
    font-weight: 400;
    margin-bottom: 0;
    padding-left: 0;

    &:before {
        display: none;
    }
}
.menu_link {
    font-size: 14px;
    line-height: 18px;
}

.mobile_icons {
    display: none;
    gap: 20px;
}
.mobile_icon {
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
}
.mobile_icon-phone {
    background-image: url("../images/icons/phone-mobile.svg");
}
.mobile_icon-burger {
    //background-image: url("../images/icons/burger-mobile.svg");
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 0;

    &.active {

        .line-2 {
            display: none;
        }
        .line-1 {
            transform: rotate(45deg);
            top: 8px;
            transition: all .2s;
        }
        .line-3 {
            transform: rotate(-45deg);
            top: -8px;
            transition: all .2s;
        }
    }
}
.line {
    width: 22px;
    height: 2px;
    background: #161D24;
    position: relative;
    transition: all .2s;
}


.mobile_menu_wrap {
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    height: calc(100vh - 58px);
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 130px 0 90px;

    opacity: 0;
    visibility: hidden;
    transition: all .2s;

    &.show {
        opacity: 1;
        visibility: visible;
        transition: all .2s;
    }
    .header_right {
        display: flex;
        justify-content: center;
    }
    .menu {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}







.header_order {
    line-height: 20px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    padding: 15px 25px;
    background: #2B2B2B;
    box-shadow: 0 4px 15px 0 #2424240D;
    margin-left: 30px;

    &:hover {
        text-decoration: none;
        color: #cdcdcd;
        background: #5a5a5a;
    }
}
.header_contact__icon {
    padding: 5px;
    border-radius: 5px;
    background: #2B2B2B;
    box-shadow: 0 4px 15px 0 #2424240D;
    width: auto;
}
.header_phone,
.header_email {
    font-size: 14px;
    line-height: 18px;
    margin-left: 15px;
}
.header_email {
    margin-left: 0;
}
.header_contact {
    display: flex;
    align-items: center;
    gap: 10px;
}





.main_content {
    padding-top: 106px;
}

.banner_wrap {
    margin-bottom: 64px;
}
.banner {
    align-items: flex-end;
}
.btn {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    background: #2B2B2B;
    box-shadow: 0 4px 15px 0 #2424240D;
    display: inline-block;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: #cdcdcd;
        background: #5a5a5a;
    }
}
.banner_left,
.services_item__info {
    flex: 1 0;
}
.banner_img {
    width: 636px;
    margin-left: 10px;
}
.h1_desc {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 30px;
}
.h2_desc {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 20px;
}
.footnote {
    font-size: 13px;
    line-height: 18px;
    margin-top: 70px;
    margin-bottom: 16px;
}



.services_list {
    gap: 30px;
}
.services_item {
    width: calc(50% - 15px);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}
.services_item__img {
    width: 138px;
    margin-left: 52px;
}
.services_item__desc {
    font-weight: 300;
}
.services_item-1 {
    background: #DEF3E0;
}
.services_item-2 {
    background: #E7F6FB;
}
.services_item-3 {
    background: #ECE5F9;
}
.services_item-4 {
    background: #FFE4F2;
}




.plastic__list {
    gap: 30px;
    margin-bottom: 20px;
}
.plastic_item {
    width: calc(33.333333% - 20px);
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 15px 0 #2424241A;
    //flex-direction: column;

    h3 {
        width: 100%;
    }
}
.plastic_item__body {
    flex-direction: column;
    height: calc(100% - 40px);
    width: 100%;
    justify-content: space-between;
}
.plastic_item__desc {
    font-weight: 300;
    margin-bottom: 16px;
}
.plastic_item__info {
    justify-content: space-between;
    align-items: center;
}


.grid_item {
    gap: 5px;
}
.grid_item__title {
    font-weight: 300;
}




.text_img {
    align-items: center;
    margin-bottom: 20px;
}
.text_img__text {
    flex: 1 0;
}
.text_img__img {
    box-shadow: 0 4px 15px 0 #2424241A;
    width: 428px;
    margin-left: 30px;
}



.portfolio_list {
    gap: 30px;
}
.portfolio_item {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px 0 #2424241A;
    width: calc(33.333333% - 20px);
}
.portfolio_img {
    margin-bottom: 10px;
}
.portfolio_info {
    flex-direction: column;
    gap: 10px;
}
.portfolio_item__title {
    font-size: 18px;
    line-height: 26px;
}
.portfolio_item__desc {
    font-weight: 300;
}



.work_img {
    max-width: 1199px;
    margin: auto;
}

.work_list {
    display: none;
    flex-wrap: nowrap;
    margin-left: -15px;
    margin-right: -15px;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
    padding-bottom: 20px;
    gap: 20px;
}

.work_item {
    font-size: 14px;
    line-height: 20px;
    flex: 0 0 306px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px 0 #2424241A;
}
.work_item-1 {
    background: #ECE5F9;
}
.work_item-2 {
    background: #FFD5D5;
}
.work_item-3 {
    background: #DEF3E0;
}
.work_item-4 {
    background: #FEFFE4;
}
.work_item-5 {
    background: #FFE4F2;
}
.work_item-6 {
    background: #F5FCFF;
}
.work_item__num {
    width: 12px;
    margin-right: 5px;
}
.work_item__text {
    flex: 1 0;
}





.equipment_list {
    gap: 30px;
}
.equipment_item {
    width: calc(50% - 15px);
    box-shadow: 0 4px 15px 0 #2424241A;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.equipment_item__title {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    padding: 0 30px;
    height: 90px;
    display: flex;
    align-items: center;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.2) 0.01%);
    position: absolute;
    bottom: 0;
    left: 0;
}



.form_wrap {
    max-width: 752px;
}







.footer {
    padding: 55px 0;
    background: #1C1D25;
    margin-top: 100px;

    .menu_link,
    .header_contact,
    .footer_right__link {
        color: #fff;
    }
}
.footer_top {
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 148px;
}
.footer_contacts {
    gap: 15px;
}
.footer_right {
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}
.footer_right__link {
    font-size: 14px;
    line-height: 18px;
}






.footer_bottom {
    justify-content: center;
    margin-top: 30px;
}
.copyright {
    align-items: center;
}
.copyright_logo {
    width: 138px;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #E0E0E0;
}
.copyright_link {
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    color: #fff;
}




@import "style/responsive";
















